/*-----------------------------------------*/
/*-- THIS CSS IS FOR MAIN CONTENT AREAS ---*/
/*-----------------------------------------*/

* {
    --Light-color: #FBF7F0;
    --light-coral-color: #FDD1C7;
    --mint-color: #75C9A8;
    --coral-color: #ffaa9b;
    --navy-color: #475E71;
    --kakhi-color: #D4D3B3;

    --white-opacity-color: rgba(255, 255, 255, 0.7);
    --kakhi-opacity-color: rgba(212, 211, 179, 0.2);
    --navy-opacity-color: rgba(71, 94, 113, 0.7);

    /*font-family: 'DM Serif Display', serif;*/
    /*font-family: 'Roboto', sans-serif;*/
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--Light-color);
}

html {
    scroll-behavior: smooth;
}

/*------------- SECTION BASICS -------------*/
a {
    color: var(--coral-color);
}

a:hover {
    color: var(--mint-color)
}

a:active {
    color: var(--kakhi-color);
}

.main-container {
    min-height: 100vh;
}

.section-container {
    margin: 10% 10% 10% 10%;
    background: transparent;
}

.section-header {
    font-family: 'DM Serif Display', serif;
    text-align: center;

    font-size: calc(40px + (60 - 40) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/

}

.section-subheader {
    font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
    font-family: 'Roboto', sans-serif;
    color: var(--navy-color);
}

.lead {
    margin: 3% 0;
    width: 50%;
}

.jumbotron {
    margin: 15% 0 5% 0;
    background: transparent;
    text-align: right;
}

.btn-circle {
    width: 35px;
    height: 35px;
    border-radius: 15px;
    text-align: center;
    padding: 0;
}

.circle-btn-icon{
    width: 25px;
    height: 25px;
    fill: var(--Light-color);
}

/*------------- INDEX -------------*/
#view-more {
    float: left;
}

.illustration-home img {
    object-fit: cover;

    height: 250px;
    width: auto;
}

.index-btn {
    background: var(--navy-color);
    color: var(--Light-color);
}

.index-btn:hover {
    background: var(--coral-color);
    color: var(--Light-color);
}

.index-btn:active {
    background: var(--mint-color);
    color: var(--Light-color);
}

/*------------- GRAPHICS -------------*/
.moon-stars-icons {
    fill: var(--coral-color);
    height: auto;
    width: 20%;

    top: 25%;
    right: 15%;
    position: absolute;
    z-index: -1;
}

/*------------- STORIES -------------*/
.story-image-container, .story-card {
    height: 500px;
    width: 350px;
}

.story-image-container img {
    vertical-align: middle;
    object-fit: cover;
    width: 100%;
    max-width: 400px;
    height: 100%;
}

.story-title {
    font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/

    font-family: 'Roboto', sans-serif;
    color: var(--navy-color);
}

.story-author, .user-location {
    font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
    font-family: 'Roboto', sans-serif;
    color: var(--navy-opacity-color);
}

.user-bio {
    font-size: calc(15px + (18 - 15) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
    font-family: 'Roboto', sans-serif;
}

#story-jumbotron {
    background: var(--kakhi-opacity-color);
}

#book-jumbotron {
    position: absolute;
    height: 600px;
    width: auto;
}

.filler {
    width: 100%;
}

.recording-cta {
    background: var(--kakhi-color);
    color: var(--navy-color);

    font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/

}

/*------------- STORY INDIVIDUAL -------------*/
#publisher {
    font-size: calc(11px + (13 - 11) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
}

#author {
    font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/

    color: var(--coral-color);
}


/*------------- STORY RECORD -------------*/
#record-story-container {
    background: var(--navy-color);
    color: var(--Light-color);
}

#save-btn {
    background: var(--Light-color);
    color: var(--navy-color);
}

#save-btn:hover {
    background: var(--mint-color);
    color: var(--navy-color);
}

#save-btn:active {
    background: var(--coral-color);
    color: var(--Light-color);
}

/*------------- PROFILE -------------*/
#profile-jumbotron {
    background: var(--navy-color);
    color: var(--Light-color);
}

#profile-section {
    margin-top: 0;
}

.profile-details-container, .recording-card{
    background: var(--white-opacity-color);
    border-radius: 10px;
}

.profile-image-container {
    height: 200px;
    width: 200px;
}

.profile-image-container img {
    vertical-align: middle;
    object-fit: cover;
    width: 100%;
    max-width: 200px;
    height: 100%;
}

#delete-btn{
    background: var(--coral-color);
    position: absolute;
    margin: -10px 0 0 0;
}
#delete-btn:hover{
    background: var(--light-coral-color);
}

.friend-card {
    background: #fff;
}

.friend-image-container {
    height: 65px;
    width: 65px;
}

img.friend-img {
    vertical-align: middle;
    object-fit: cover;
    height: 65px;
    width: 65px;
}

.recording-card {
    height: auto;
    width: 100%;
    border-radius: 10px;
}

.recording-card-add {
    height: auto;
    width: 100%;
    background: var(--light-coral-color);
    border-radius: 10px;
}

.recording-title {
    font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
    font-family: 'Roboto', sans-serif;
}

.user-friend-name{
    font-size: calc(15px + (18 - 15) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
    font-family: 'Roboto', sans-serif;
}

.icon-location{
    height: auto;
    width: 15px;
    fill: var(--navy-opacity-color);
}

/*------------- EDIT PROFILE -------------*/
.modal-content{
    background: var(--Light-color);
}

.cancel-btn{
    background: var(--kakhi-color);
    color: var(--Light-color);
}
.cancel-btn:hover{
    background: var(--light-coral-color);
    color: var(--navy-color);
}
.cancel-btn:active{
    background: var(--coral-color);
    color: var(--navy-color);
}

.submit-btn{
    background: var(--navy-color);
    color: var(--Light-color);
}
.submit-btn:hover{
    background: var(--light-coral-color);
    color: var(--navy-color);
}
.submit-btn:active{
    background: var(--coral-color);
    color: var(--navy-color);
}

/*------------- FORMS -------------*/
input[type="text"], input[type="password"], input[type="email"], textarea[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--navy-color);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
}

.form-signin, .form-register, #create-story-form {
    margin: 5% 30% 5% 30%;
}

.form-control {
    margin: 0 0 5% 0;
}

.btn {
    border-radius: 16px;
    cursor: pointer;
    margin: 5% 0;
    background: var(--navy-color);
}

#logout-btn {
    background: none;
}

#logout-btn:hover {
    color: darkred;
}

.register-link, .login-link {
    margin: 6% 0;
    color: var(--navy-color);
    text-decoration: underline;
    font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
}

.form-btn-group {
    display: flex;
    justify-content: space-between;
}

#open {
    position: absolute;
}

/*------------- TEAM CARDS -------------*/
.team-section-cards {
    margin: 5% 0;
}

.card {
    width: 30%;
    text-align: center;
    background: transparent;
    border: none;
    border-radius: 50%;
}

.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 50%;
    margin: 10%;
}

.team-card {
    width: 150px;
}

.card-title {
    font-size: calc(18px + (25 - 18) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/

}

.card-subtitle {
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
}

.card-text {
    margin: 5% 0;
}

.codeup-icon {
    transform: rotate(-55deg);
}

.icon-graphic {
    height: 30px;
    width: auto;
    fill: var(--navy-color);
}

.icon-graphic:hover {
    fill: var(--coral-color);
}

/*------------- FEATURE -------------*/
#feature-jumbotron {
    background: var(--navy-color);
    color: var(--light-coral-color);
    padding: 6% 0;
}

.icon-graphic-feature {
    height: 30px;
    width: auto;
    fill: var(--Light-color);
    margin: 0 2%;
}

.feature-btn {
    background: var(--Light-color);
    color: var(--navy-color);
}

.feature-btn:hover {
    background: var(--coral-color);
    color: var(--navy-color);
}

/*------------- SCROLL ANCHOR -------------*/
.arrow {
    position: absolute;
    bottom: 100px;
    left: 50%;
    margin-left: -16px;
    fill: var(--Light-color);
}

.bounce {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    animation-name: bounce;
}

.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;

    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

.blue-link {
    color: var(--navy-color);
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
    }
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
    }
}

@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -o-transform: translateY(0);
    }
    40% {
        -o-transform: translateY(-30px);
    }
    60% {
        -o-transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
