/*-----------------------------------------*/
/*-- THIS CSS IS FOR MAIN CONTENT AREAS ---*/
/*-----------------------------------------*/

*{
    --Light-color: #FBF7F0;
    --light-coral-color: #FDD1C7;
    --mint-color: #75C9A8;
    --coral-color: #FFAA9B;
    --navy-color: #475E71;
    --kakhi-color: #D4D3B3;

    /*font-family: 'DM Serif Display', serif;*/
    /*font-family: 'Roboto', sans-serif;*/
}

body{
    font-family: 'Roboto', sans-serif;
    background: var(--Light-color);
}
.section-container{
    margin: 5% 10% 5% 10%;
}

/*------------- SECTION BASICS -------------*/
.section-header{
    font-family: 'DM Serif Display', serif;
    text-align: center;
}

.section-container{
    height: 100vh;
    background: var(--Light-color);
}

/*------------- FORM -------------*/
input[type="text"], input[type="password"], input[type="email"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}
input[type="text"]:focus , input[type="password"]:focus, input[type="email"]:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
}
.form-signin, .form-register{
    margin: 5% 30% 5% 30%;
}
.form-control{
    margin: 0 0 5% 0;
}
.btn{
    border-radius: 16px;
    cursor: pointer;
    margin: 5% 0;
}
.register-link, .login-link{
    margin: 6% 0;
    color: black;
    font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));*/
}
.form-btn-group{
    display: flex;
    justify-content: space-between;
}
