<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <meta charset="UTF-8">
    <title>Progeny</title>
</head>
<body>

<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>


<div class="container">

    <h1>Hello! Create a new recording</h1>

    <div class="start-audio-recording"><div>
        <div class="rec-dot"></div>
        <span>Record</span></div></div>
    <script src="https://api.apowersoft.com/audio-recorder?lang=en" defer></script>

</div>



<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script th:replace="partials/scripts :: scripts"></script>


</body>
</html>