<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/head :: head('Progeny - Create Recording')">
    <link rel="stylesheet" href="/record.css" type="text/css">
</head>
<body>

<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>


<article class="main-container">

    <section class="section-container">
        <h3 th:text="${currentStory.title}" class="section-header"></h3>
        <h4 class="card-subtitle">By <span th:text="${currentStory.getAuthorFirstName()} + ' ' + ${currentStory.getAuthorLastName()}"></span></h4>

        <iframe style='width:900px;height:500px' th:src="${currentStory.storyFile}"  seamless='seamless' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true' ></iframe>

    </section>

    <div class="container">

        <h1>Hello! Create a new recording</h1>

        <h4>How to create recording:</h4>
        <p>1. Record the audio</p>
        <p>2. Download the audio to your computer</p>
        <p>3. Press "Save recording"</p>


        <div style="max-width: 28em;">
            <div id="controls">
                <button id="recordButton">Record</button>
                <button id="pauseButton" disabled>Pause</button>
                <button id="stopButton" disabled>Stop</button>
            </div>

            <div>
                <h5><a href="/recording/save">Save recording</a></h5>

            </div>


            <div id="formats"></div>
            <p><strong>Recordings:</strong></p>
            <ol id="recordingsList"></ol>
        </div>


    </div>

</article>



<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script th:replace="partials/scripts :: scripts"></script>

<script src="/js/record.js"></script>
<script src="video.js"></script>


</body>
</html>