<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Progeny - Features')">
</head>
<body>

<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>


<!---------- MAIN CONTAINER ---------->
<article class="main-container">

    <!---------- CREATE STORY SECTION ---------->
    <section class="section-container">

        <!---------- CREATE RECORDING HEADER ---------->
        <h1 class="section-header">Save Your Recording</h1>

        <!---------- CREATE RECORDING FORM ---------->
        <form th:action="@{/recording/save}" method="post" th:object="${recording}" id="recording-form"
              class="form-label-group">

            <!---------- SET RECORDING TITLE ---------->
            <label for="recordingTitle">Recording Title</label>
            <input class="form-control" id="recordingTitle" th:field="*{title}" type="text" required/>

            <!---------- SET USER ID---------->
            <input class="form-control" id="userId" th:value="${currentUserId}" type="hidden" th:name="recording"/>

            <!---------- SET RECORDING ---------->
            <div class="recording-modal-container d-flex flex-column my-5">

                <div class="mx-auto">

                    <!---------- UPLOAD PROFILE PHOTO MODAL BUTTON---------->
                    <button type="button" class="btn btn-sm" data-toggle="modal" id="open"
                            data-target=".bd-example-modal-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="icon-graphic">
                            <path d="M1 13h-1v-1h1v1zm22-1h-1v1h1v-1zm-20-1h-1v3h1v-3zm18 0h-1v3h1v-3zm-14 0h-1v3h1v-3zm10-1h-1v5h1v-5zm-12 0h-1v5h1v-5zm14-1h-1v7h1v-7zm-10 0h-1v7h1v-7zm2-2h-1v10h1v-10zm4 0h-1v10h1v-10zm-2-2h-1v14h1v-14z"/>
                        </svg>
                    </button>

                </div>

                <!---------- UPLOAD PROFILE PHOTO MODAL---------->
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                     aria-labelledby="myLargeModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg mx-auto">
                        <div class="modal-content d-flex flex-column">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <!---------- POPUP (FILESTACK)---------->
                            <div id="inline" style="width:600px;height:500px;padding:20px;" class="mx-auto"></div>
                        </div>
                    </div>
                </div>

            </div>


            <!---------- SUBMIT FORM ---------->
            <div class="text-right">
                <button class="btn btn-sm btn-dark" type="submit">Save</button>
            </div>

        </form>


    </section>


</article>

<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="/js/uploadRecording.js"></script>
<script src="/js/keys.js"></script>
<script th:replace="partials/scripts :: scripts"></script>

</body>
</html>