<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Progeny - Features')">

</head>
<body>

<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>


<!---------- MAIN CONTAINER ---------->
<article class="main-container">

    <!---------- SECTION CONTAINER ---------->
    <section class="section-container">

        <!---------- SECTION HEADER ---------->
        <h3 th:text="${currentRecording.title}" class="section-header"></h3>

        <!---------- SECTION SUBTITLE ---------->
        <h5 class="card-subtitle">Listen to this recording</h5>

        <audio controls>
            <source th:src="${currentRecording.recordingUrl}"
                    type='audio/mp4'>
            <!-- The next two lines are only executed if the browser doesn't support MP4 files -->
            <source th:src="${currentRecording.recordingUrl}"
                    type='audio/ogg; codecs=vorbis'>
            <!-- The next line will only be executed if the browser doesn't support the <audio> tag-->
            <p>Your user agent does not support the HTML5 Audio element.</p>
        </audio>

        <!---------- EDIT RECORDING ---------->
        <a th:href="@{|/recording/edit/${currentRecording.getId()}|}">Edit Recording</a>

        <!---------- DELETE RECORDING ---------->
        <a th:href="@{|/recording/delete/${currentRecording.getId()}|}">Delete Recording</a>

    </section>


</article>




<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->

<script th:replace="partials/scripts :: scripts"></script>


</body>
</html>