<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Progeny - Read A Story')">

</head>
<body>

<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>

<!---------- MAIN CONTAINER ---------->
<article class="main-container">

    <!---------- SECTION CONTAINER ---------->
    <section class="section-container">

        <!---------- SECTION HEADER ---------->
        <h3 th:text="${currentStory.title}" class="section-header"></h3>

        <!---------- SECTION SUBTITLE ---------->
        <h4 class="card-subtitle">By <span
                th:text="${currentStory.getAuthorFirstName()} + ' ' + ${currentStory.getAuthorLastName()}"></span></h4>


        <!---------- SECTION BOOK IFRAME ---------->
        <iframe style='width:900px;height:500px' th:src="${currentStory.storyFile}" seamless='seamless' scrolling='no'
                frameborder='0' allowtransparency='true' allowfullscreen='true'></iframe>


        <!---------- EDIT BOOK ---------->
        <a th:href="@{|/story/${currentStory.getId()}/edit|}">Edit Story</a>

        <a th:href="@{|/story/${currentStory.id}/delete|}">Delete Story</a>
    </section>


</article>
<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script th:replace="partials/scripts :: scripts"></script>

<script th:replace="partials/scripts :: scripts"></script>

</body>
</html>

