<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Progeny - Read A Story')">

</head>
<body>

<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>

<!---------- Main Container ---------->
<div class="main-container">

    <h3 th:text="${currentStory.title}"></h3>

    <iframe style='width:900px;height:500px' th:src="${currentStory.storyFile}"  seamless='seamless' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true' ></iframe>


</div>

<!-----------record section-------------->
<h2>Record</h2>
<div style="max-width: 28em;">
    <div id="controls">
        <button id="recordButton">Record</button>
        <button id="pauseButton" disabled>Pause</button>
        <button id="stopButton" disabled>Stop</button>
    </div>
    <div id="formats"></div>
    <p><strong>Recordings:</strong></p>
    <ol id="recordingsList"></ol>
</div>

</div>


<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script th:replace="partials/scripts :: scripts"></script>

<script th:replace="partials/scripts :: scripts"></script>

<script src="../record.js"></script>
<script src="../bibi/bibi/and/jo.js"></script>

</body>
</html>