<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Progeny - Stories')">

</head>
<body>

<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>

<!---------- Main Container ---------->
<div class="main-container d-flex">

    <iframe style="width: 100%; height: 400px" class="bibi-frame" frameborder="0" scrolling="auto" allowfullscreen="true" src="https://www.codeup.com"></iframe>

<!--    <div class="story-frame justify-content-center">-->
<!--        <iframe style='width:900px;height:500px' src='https://online.pubhtml5.com/ajug/lovg/' seamless='seamless'-->
<!--                scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true'></iframe>-->
<!--    </div>-->
    <section class="section-container">
        <a href="https://progenystories.com/src/main/resources/bibi/bibi/?book=page-blanche-bitmaps-in-spine" data-bibi="embed" data-bibi-style="width: 100%; height: 400px;">MY BOOK</a><script src="https://progenystories.com/src/main/resources/bibi/bibi/and/jo.js"></script>
    </section>

</div>

<!-----------record section-------------->
<h2>Record</h2>
<div style="max-width: 28em;">
    <div id="controls">
        <button id="recordButton">Record</button>
        <button id="pauseButton" disabled>Pause</button>
        <button id="stopButton" disabled>Stop</button>
    </div>
    <div id="formats"></div>
    <p><strong>Recordings:</strong></p>
    <ol id="recordingsList"></ol>
</div>

</div>


<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script th:replace="partials/scripts :: scripts"></script>

<script th:replace="partials/scripts :: scripts"></script>

<script src="/record.js"></script>

</body>
</html>