<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>


<!--------FOOTER NAV-------->
<footer th:fragment="footer" class="section footer-section">
    <footer class=" py-5 text-center text-small">
        <p class="mb-1">© 2020 Progeny Stories</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="https://github.com/Progeny-Capstone">Github</a></li>
            <li class="list-inline-item"><a href="https://codeup.com/">Codeup</a></li>
            <li class="list-inline-item"><a href="/about">Support</a></li>
        </ul>
    </footer>
</footer>

</body>
</html>