<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

    <meta charset="UTF-8">
    <title>Progeny</title>

    <!--  CUSTOM CSS  -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto&display=swap" rel="stylesheet">


</head>
<body>
</body>
</html>