<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">

    <meta charset="UTF-8">
    <title th:text="${title}"></title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WGRYZPXY4D"></script>
    <script type="text/javascript" th:inline="javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-WGRYZPXY4D');
    </script>

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <!--  FAVICON  -->
    <link rel="icon" type="image/png" href="/images/penguin.png">

    <!--  CUSTOM CSS  -->
    <link rel="stylesheet" type="text/css" href="/nav.css" >
    <link rel="stylesheet" type="text/css" href="/main.css">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto&display=swap" rel="stylesheet">


</head>
<body>
</body>
</html>