<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Progeny - Create Group')">

</head>
<body>

<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>

<!---------- Main Container ---------->
<article class="main-container">

    <!---------- CREATE GROUP SECTION ---------->
    <section class="section-container">
        <!---------- CREATE GROUP HEADER ---------->
        <h1 class="section-header">Create a Group</h1>

        <!---------- CREATE GROUP FORM ---------->
        <form th:action="@{/group/create}" method="POST" th:method="post" th:object="${newGroup}" class="form-label-group">

            <!---------- SET BOOK TITLE ---------->
            <label for="groupName">Group Name</label>
            <input class="form-control" id="groupName" th:field="*{name}" type="text" required/>

            <label for="groupDescription">Group Description</label>
            <input class="form-control" id="groupDescription" th:field="*{description}" type="text" required/>


            <!---------- SUBMIT FORM ---------->
            <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
        </form>

    </section>

</article>


<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script th:replace="partials/scripts :: scripts"></script>

</body>
</html>