<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Progeny - Group')">

</head>
<body>

<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>

<!---------- MAIN CONTAINER ---------->
<article class="main-container">

    <!---------- GROUP SECTION ---------->
    <section class="section-container">

        <!---------- GROUP ---------->
        <div th:object="${currentGroup}">

            <!---------- GROUP TITLE ---------->
            <h1 class="section-header" th:text="${groupName}"></h1>

            <!---------- GROUP DESCRIPTION ---------->
            <p th:text="${groupDescription}" class="text-center"></p>



            <!---------- RIGHT SECTIONS---------->
<!--            <section class="sub-section-container col-lg-8 col-md-12 ">-->

<!--                &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; RECORDINGS SSECTION&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--                <div class="recording-sub-section">-->

<!--                    &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; EDIT RECORDINGS &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--                    <a class="text-right" href="#">Edit Recordings</a>-->

<!--                    &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; SHOW RECORDINGS &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--                    <div th:each="recording : ${recordings}" class="recording-card">-->

<!--                        <a th:href="@{|/recording/${recording.getId()}|}" class="recording-title-link">-->
<!--                            <h1 th:text="${recording.title}" class="recording-title"></h1>-->
<!--                        </a>-->


<!--                    </div>-->
<!--                </div>-->

            <!---------- EDIT GROUP ---------->
            <a href="/profile/edit/{id}" class="text-center">Edit Group</a>

        </div>

    </section>

</article>


<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script th:replace="partials/scripts :: scripts"></script>

</body>
</html>