<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Progeny - Friends List')">

</head>
<body>

<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>

<!---------- SECTION ---------->
<article class="main-container">

    <!---------- SECTION ---------->
    <section class="section-container">

        <!---------- SECTION HEADER---------->
        <h1 class="section-header px-5"><span th:text="${currentUser.getFirstName()}"></span>, here are the people you
            are
            connected with</h1>

        <!---------- SHOW FRIENDS ---------->
        <div class="d-flex flex-row justify-content-center flex-wrap">

            <!---------- FRIENDS CARD ---------->
            <div th:each="friend : ${friends}" class="friend-card d-flex flex-row align-items-center m-5">

                <!---------- FRIENDS IMAGE ---------->
                <div class="friend-image-container d-flex flex-column m-1">
                    <img th:src="@{${friend.getProfileImageUrl()}}" class="friend-img rounded-circle mx-auto"
                         alt="users profile picture">
                </div>

                <!---------- FRIEND NAME ---------->
                <p th:text="${friend.getFirstName()} + ' ' +${friend.getLastName()}"
                   class=""></p>


                <!-- Button trigger modal -->
                <button type="button" class="btn btn-circle" data-toggle="modal" data-target="#exampleModalCenter">
                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                         clip-rule="evenodd" class="circle-btn-icon">
                        <path d="M12 0c6.623 0 12 5.377 12 12s-5.377 12-12 12-12-5.377-12-12 5.377-12 12-12zm0 1c6.071 0 11 4.929 11 11s-4.929 11-11 11-11-4.929-11-11 4.929-11 11-11zm0 10.293l5.293-5.293.707.707-5.293 5.293 5.293 5.293-.707.707-5.293-5.293-5.293 5.293-.707-.707 5.293-5.293-5.293-5.293.707-.707 5.293 5.293z"/>
                    </svg>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title text-center mx-auto" id="exampleModalLongTitle">Unfriend Confirmation</h2>
                            </div>
                            <div class="modal-body">

                                <p class="m-0 text-center">Are you sure you want to delete<br>
                                    <strong th:text="${friend.getFirstName()} + ' ' + ${friend.getLastName()}"></strong>
                                </p>

                            </div>
                            <div class="modal-footer d-flex flex-row justify-content-around">

                                <button type="button" class="btn btn-sm cancel-btn" data-dismiss="modal">Close</button>

                                <!---------- DELETE FORM ---------->
                                <form th:action="@{/profile/friends/delete}" method="POST" class="">

                                    <!---------- ID HIDDEN INPUT ---------->
                                    <input type="hidden" th:value="${friend.getId()}" th:name="deleteId">

                                    <!---------- DELETE BUTTON ---------->
                                    <button class="btn btn-sm submit-btn" type="submit">Yes, I am sure</button>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!---------- SEARCH USERS LINK ---------->
        <a href="/profile/friends/search" class="btn btn-sm btn-dark">
            <p class="m-0">Search for Someone</p>
        </a>

    </section>

</article>


<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script th:replace="partials/scripts :: scripts"></script>

</body>
</html>