<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Progeny - Friends List')">

</head>
<body>

<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>

<!---------- MAIN CONTAINER ---------->
<article class="main-container">

    <!---------- PROFILE NAVIGATION ---------->
    <nav class="my-5" id="profile-nav">

        <!---------- PROFILE NAVIGATION LIST ---------->
        <ul class="nav nav-pills d-flex flex-row justify-content-center">

            <!---------- PROFILE NAVIGATION LIST ITEMS ---------->
            <li class="active mx-5 my-3 nav-item profile-nav-item"><a href="/profile">Profile</a></li>
            <li class="mx-5 my-3 nav-item profile-nav-item"><a href="/profile/friends">Friends</a></li>
            <li class="mx-5 my-3 nav-item profile-nav-item"><a href="/profile/edit/{id}">Settings</a></li>

        </ul>

    </nav>


    <section class="section-container row">

        <!------------------------------------>
        <!---------- SEARCH SECTION ---------->
        <!------------------------------------>
        <section class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">

            <!---------- SEARCH BAR ---------->
            <form th:action="@{/profile/friends/search}" method="get">
                <input type="text" class="search-query form-control" name="search"
                       placeholder="Search for someone on Progeny"/>
            </form>

            <!---------- RESULTS CONTAINER ---------->
            <div class="d-flex flex-column justify-content-center flex-wrap mt-3 ">

                <!---------- SEARCH RESULTS ITERATE EACH ---------->
                <div th:each="foundUser : ${foundUsers}" class="">

                    <!---------- ADD FRIEND FORM ---------->
                    <form th:action="@{/profile/friends}" method="POST"
                          class="friend-card m-2 p-2 d-flex flex-row align-items-center">

                        <!---------- FRIENDS IMAGE ---------->
                        <div class="friend-image-container ml-5 mr-2">
                            <img th:src="@{${foundUser.getProfileImageUrl()}}"
                                 class="friend-img rounded-circle mx-auto"
                                 alt="users profile picture">
                        </div>

                        <!---------- POTENTIAL FRIEND TEXTUAL DETAILS ---------->
                        <div class="friend-details mr-5">

                            <!---------- FRIEND NAME ---------->
                            <h5 th:text="${foundUser.getFirstName()} + ' ' +${foundUser.getLastName()}"
                                class="user-friend-name m-0"></h5>

                            <!---------- FRIEND LOCATION ---------->
                            <p th:text="${foundUser.getLocation()}" class="user-location m-0"></p>

                        </div>

                        <!---------- ADD FRIEND BUTTON(S) ---------->
                        <button class="btn btn-sm index-btn" th:if="${foundUser.id != currentUser.id}">Add</button>
                        <p class="user-location" th:if="${foundUser.id == currentUser.id}">you</p>

                        <!---------- ADD FRIEND ID HIDDEN INPUT---------->
                        <input type="hidden" th:name="friendId" th:value="${foundUser.id}">


                    </form>

                </div>

            </div>

        </section>


        <!---------------------------------------------------->
        <!---------- PENDING FRIEND REQUEST SECTION ---------->
        <!---------------------------------------------------->
        <section class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

            <!---------- SECTION HEADER---------->
            <h1 class="section-subheader mb-5">Friend Requests</h1>

            <!---------- SHOW FRIENDS ---------->
            <div class="d-flex flex-column justify-content-center mt-3">

                <!---------- FRIENDS CARD ---------->
                <div th:each="friendRequest : ${friendRequests}" th:if="!${friendRequest.isAccepted()}"
                     class="friend-card m-2 p-2 d-flex flex-row align-items-center">
                    <!--/* If isAccepted is not true (false), Then show the friend request here*/-->


                    <p th:if="${friendRequests.isEmpty()}">You have no friend requests</p>


                    <!---------- FRIENDS IMAGE ---------->
                    <div class="friend-image-container ml-5 mr-2">
                        <img th:src="@{${friendRequest.getUser().getProfileImageUrl()}}"
                             class="friend-img rounded-circle mx-auto"
                             alt="users profile picture">
                    </div>

                    <!---------- POTENTIAL FRIEND TEXTUAL DETAILS ---------->
                    <div class="friend-details mr-5">

                        <!---------- FRIEND NAME ---------->
                        <h5 th:text="${friendRequest.getUser().getFirstName()} + ' ' +${friendRequest.getUser().getLastName()}"
                            class="user-friend-name m-0"></h5>

                        <!---------- FRIEND LOCATION ---------->
                        <p th:text="${friendRequest.getUser().getLocation()}" class="user-location m-0"></p>

                    </div>

                    <div class="d-flex flex-row justify-content-center">

                        <!---------- CONFIRM FORM ---------->
                        <form th:action="@{/profile/friends/confirm-friend}" method="POST" class="">

                            <!---------- FRIENDSHIP CONFIRM BUTTON---------->
                            <button type="submit" class="btn btn-sm feature-btn">
                                Confirm
                            </button>

                            <!---------- HIDDEN FRIENDS ID TO SUBMIT ---------->
                            <input type="hidden" th:value="${friendRequest.getFriend().getId()}" th:name="friendId">
                            <input type="hidden" th:value="${friendRequest.getUser().getId()}" th:name="userId">

                        </form>

                        <!---------- IGNORE FORM ---------->
                        <form th:action="@{/profile/friends/ignore-friend}" method="POST" class="">

                            <!---------- FRIENDSHIP DISMISS(DENY) ---------->
                            <button type="submit" class="btn btn-sm feature-btn">
                                Ignore
                            </button>

                            <!---------- HIDDEN FRIENDS ID TO SUBMIT ---------->
                            <input type="hidden" th:value="${friendRequest.getFriend().getId()}" th:name="friendId">
                            <input type="hidden" th:value="${friendRequest.getUser().getId()}" th:name="userId">

                        </form>
                    </div>

                </div>


            </div>


            <!--------------------------------------------->
            <!---------- CURRENT FRIENDS SECTION ---------->
            <!--------------------------------------------->
            <!---------- SECTION HEADER---------->
            <h1 class="section-subheader mb-5">Friends</h1>

            <!---------- SHOW FRIENDS ---------->
            <div class="d-flex flex-column justify-content-center flex-wrap mt-3">

                <!---------- FRIENDS CARD ---------->
                <div th:each="friend : ${friends}" th:if="${friend.isAccepted()}"
                     class="friend-card m-2 p-2 d-flex flex-row align-items-center">
                    <!--/* If isAccepted is not true (false), Then show the friend request here*/-->

                    <!---------- FRIENDS IMAGE  ---------->
                    <div class="friend-image-container ml-5 mr-2"
                         th:switch="${friend.getFriend().getId() == currentUser.getId()}">
                        <img th:case="${true}" th:src="@{${friend.getUser().getProfileImageUrl()}}"
                             class="friend-img rounded-circle mx-auto"
                             alt="users profile picture">
                        <img th:case="${false}" th:src="@{${friend.getFriend().getProfileImageUrl()}}"
                             class="friend-img rounded-circle mx-auto"
                             alt="users profile picture">
                    </div>

                    <!---------- FRIENDS LIST ---------->
                    <div class="friend-details mr-5">

                        <!---------- FRIEND NAME ---------->
                        <div th:switch="${friend.getFriend().getId() == currentUser.getId()}">
                            <h5 th:case="${true}"
                                th:text="${friend.getUser().getFirstName()} + ' ' +${friend.getFriend().getLastName()}"
                                class="user-friend-name m-0"></h5>
                            <h5 th:case="${false}"
                                th:text="${friend.getFriend().getFirstName()} + ' ' +${friend.getFriend().getLastName()}"
                                class="user-friend-name m-0"></h5>
                        </div>

                        <!---------- FRIEND LOCATION ---------->
                        <div th:switch="${friend.getFriend().getId() == currentUser.getId()}">
                            <p th:case="${true}" th:text="${friend.getUser().getLocation()}"
                               class="user-location m-0"></p>
                            <p th:case="${false}" th:text="${friend.getFriend().getLocation()}"
                               class="user-location m-0"></p>
                        </div>

                    </div>

                    <!---------- DELETE MODAL BUTTON TRIGGER ---------->
                    <button type="button" class="btn btn-sm feature-btn" data-toggle="modal"
                            data-target="#exampleModalCenter">
                        Delete
                    </button>

                    <!---------- MODAL ---------->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title text-center mx-auto" id="exampleModalLongTitle">Unfriend
                                        Confirmation</h2>
                                </div>
                                <div class="modal-body"
                                     th:switch="${friend.getFriend().getId() == currentUser.getId()}">

                                    <p class="m-0 text-center">Are you sure you want to delete<br>
                                        <strong th:case="${true}"
                                                th:text="${friend.getUser().getFirstName()} + ' ' + ${friend.getUser().getLastName()}"></strong>
                                        <strong th:case="${false}"
                                                th:text="${friend.getFriend().getFirstName()} + ' ' + ${friend.getFriend().getLastName()}"></strong>
                                    </p>

                                </div>
                                <div class="modal-footer d-flex flex-row justify-content-around">

                                    <button type="button" class="btn btn-sm cancel-btn" data-dismiss="modal">Close
                                    </button>

                                    <!---------- DELETE FORM ---------->
                                    <form th:action="@{/profile/friends/delete}" method="POST" class="">

                                        <!---------- HIDDEN FRIENDS ID TO SUBMIT ---------->
                                        <input type="hidden" th:value="${friend.getFriend().getId()}"
                                               th:name="friendId">
                                        <input type="hidden" th:value="${friend.getUser().getId()}" th:name="userId">

                                        <!---------- DELETE BUTTON ---------->
                                        <button class="btn btn-sm submit-btn" type="submit">Yes, I am sure</button>

                                    </form>

                                </div>

                            </div>

                        </div>

                    </div>


                </div>

            </div>

        </section>

    </section>
</article>


<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script th:replace="partials/scripts :: scripts"></script>

</body>
</html>