<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Progeny - Friends List')">

</head>
<body>

<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>

<!---------- SECTION ---------->
<article class="main-container">

    <!---------- SECTION ---------->
    <section class="section-container">

        <!---------- SECTION HEADER---------->
        <h1 class="section-header"><span th:text="${currentUser.getFirstName()}"></span>, here are the people you are
            connected with</h1>

        <!---------- SHOW FRIENDS ---------->
        <div class="d-flex flex-row justify-content-center flex-wrap">

            <!---------- FRIENDS CARD ---------->
            <div th:each="friend : ${friends}" class="friend-card text-center m-5">

                <form th:action="@{/profile/friends/delete}" method="POST" class="form-register"
                      id="register-form">

                    <!---------- FRIENDS IMAGE ---------->
                    <div class="friend-image-container d-flex flex-column m-1">
                        <img th:src="@{${friend.getProfileImageUrl()}}" class="friend-img rounded-circle mx-auto"
                             alt="users profile picture">
                    </div>

                    <!---------- FRIEND NAME ---------->
                    <p th:text="${friend.getFirstName()} + ' ' +${friend.getLastName()}"
                       class=""></p>

                    <input type="hidden" th:value="${friend.getId()}" th:name="deleteId">

                    <!---------- DELETE BUTTON ---------->
                    <button class="btn-dark btn btn-sm" type="submit">Delete Friend</button>

                </form>

            </div>
        </div>
    </section>
</article>


<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script th:replace="partials/scripts :: scripts"></script>

</body>
</html>