<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Delete Profile')">
<body>
<nav th:replace="partials/topnav :: navbar"></nav>

<div class="container">
    <h2>Delete Profile</h2>
    <form th:action="@{'/profile/delete'}" method="post">
        <h1>Are you sure you want to delete your profile, <span th:text="${user.firstName}"></span>? You will lose all your stories and connections.</h1>
        <input type="hidden" th:value="${user.id}" th:name="userId">
        <button class="btn btn-danger" type="submit"> yes, delete</button>
        <a th:href="@{'/profile'}" class="btn btn-primary">No, don't delete</a>
    </form>
</div>

<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script th:replace="partials/scripts:: scripts"></script>

</body>
</html>