<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Progeny - Edit Profile')">

</head>
<body>

<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>

<!---------- Main Container ---------->
<article class="main-container">

    <!---------- CREATE ACCOUNT SECTION ---------->
    <section class="section-container">

        <!---------- CREATE ACCOUNT HEADER ---------->
        <h1 class="section-header">Edit Your personal Details</h1>

        <p class="lead mx-auto my-0 text-center">You can modify your personal information here.</p>
        <p class="mx-auto my-0 text-center"><em>Your changes will be applied after you logout.</em></p>

        <!---------- CREATE ACCOUNT FORM ---------->
        <form th:action="@{'/profile/edit/' + ${user.getUsername()}}" method="POST" th:object="${user}"
              class="form-register d-flex flex-column justify-content-center" id="editProfileForm">

            <!---------- SET PROFILE IMAGE ---------->
            <div class="profile-image-container d-flex flex-column justify-content-center mx-auto my-5">

                <div class="mx-auto">

                    <!---------- USER PROFILE IMAGE ---------->
                    <img th:src=" @{ ${user.getProfileImageUrl()}}" alt="The current user's profile image"
                         class="rounded-circle mx-auto">

                    <!---------- UPLOAD PROFILE PHOTO MODAL BUTTON---------->
                    <button type="button" class="btn btn-sm submit-btn btn-circle" data-toggle="modal" id="open"
                            data-target=".bd-example-modal-lg">
                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                             clip-rule="evenodd" class="circle-btn-icon">
                            <path d="M11.492 10.172l-2.5 3.064-.737-.677 3.737-4.559 3.753 4.585-.753.665-2.5-3.076v7.826h-1v-7.828zm7.008 9.828h-13c-2.481 0-4.5-2.018-4.5-4.5 0-2.178 1.555-4.038 3.698-4.424l.779-.14.043-.789c.185-3.448 3.031-6.147 6.48-6.147 3.449 0 6.295 2.699 6.478 6.147l.044.789.78.14c2.142.386 3.698 2.246 3.698 4.424 0 2.482-2.019 4.5-4.5 4.5m.978-9.908c-.212-3.951-3.472-7.092-7.478-7.092s-7.267 3.141-7.479 7.092c-2.57.463-4.521 2.706-4.521 5.408 0 3.037 2.463 5.5 5.5 5.5h13c3.037 0 5.5-2.463 5.5-5.5 0-2.702-1.951-4.945-4.522-5.408"/>
                        </svg>
                    </button>

                </div>

                <!---------- UPLOAD PROFILE PHOTO MODAL---------->
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                     aria-labelledby="myLargeModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content p-5 d-flex flex-column justify-content-center align-items-center">

                            <!---------- POPUP (FILESTACK)---------->
                            <div id="inline" style="width:600px;height:500px;padding:20px;"></div>

                            <!---------- CLOSE BUTTON---------->
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">Close</span>
                            </button>

                        </div>
                    </div>
                </div>

            </div>


            <!---------- SET FIRST NAME ---------->
            <label for="firstName">First Name</label>
            <input class="form-control" id="firstName" th:field="*{firstName}" type="text" required
                   th:value="${user.firstName}"/>

            <!---------- SET LAST NAME ---------->
            <label for="lastName">Last Name</label>
            <input class="form-control" id="lastName" th:field="*{lastName}" type="text" required
                   th:value="${user.lastName}"/>

            <!---------- SET USERNAME ---------->
            <label for="username">Username</label>
            <input class="form-control" id="username" th:field="*{username}" type="text" required
                   th:value="${user.username}"/>

            <!---------- SET EMAIL ---------->
            <label for="email">Email</label>
            <input class="form-control" id="email" th:field="*{email}" type="email" required th:value="${user.email}"/>

            <!---------- SET LOCATION ---------->
            <label for="profileLocation">Location</label>
            <input class="form-control" id="profileLocation" th:field="*{location}" type="text"
                   th:value="${user.location}"/>

            <!---------- SET BIO ---------->
            <label for="profileBio">Profile Bio</label>
            <textarea class="form-control" id="profileBio" th:field="*{bio}" type="text"
                      th:value="${user.bio}"></textarea>


            <div class="d-flex flex-row justify-content-end">
                <!---------- CANCEL FORM ---------->
                <a href="/profile" class="text-right mx-2">
                    <button class="btn btn-sm cancel-btn" type="submit">Cancel</button>
                </a>
                <!---------- SUBMIT FORM ---------->
                <div class="text-right">
                    <button class="btn btn-sm submit-btn" type="submit">Save</button>
                </div>
            </div>


            <!---------- DANGER ZONE ---------->
            <div class="form-btn-group border border-danger text-center mt-5 py-5 d-flex flex-column text-center">

                <!---------- DANGER ZONE HEADER---------->
                <h2 class="text-danger">Danger Zone</h2>

                <!---------- DANGER ZONE DELETE BUTTON---------->
                <a th:href="@{|/profile/delete/${user.username}|}" class="text-danger"><strong>Delete
                    Account</strong></a>

            </div>

        </form>

    </section>

</article>


<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script th:replace="partials/scripts :: scripts"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="/js/keys.js"></script>
<script src="/js/uploadProfilePhoto.js"></script>

</body>
</html>