<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Progeny - Login')">
</head>
<body>

<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>

<!---------- MAIN CONTAINER ---------->
<article class="main-container">

    <!---------- LOGIN SECTION ---------->
    <section class="section-container">

        <!---------- LOGIN HEADER ---------->
        <h1 class="section-header">Log In</h1>

        <!---------- ERROR: INCORRECT ---------->
        <div th:if="${param.error}" class="text-danger text-center">
            Invalid Username and Password.
        </div>

        <!---------- ALERT: LOGGED OUT ---------->
        <div th:if="${param.logout}" class="text-danger text-center">
            You have been logged out.
        </div>

        <!---------- LOGIN FORM ---------->
        <form th:action="@{/login}" method="post" class="form-signin">

            <!---------- LOGIN ---------->
            <div class="form-label-group">
                <label for="username">Username</label>
                <input class="form-control" id="username" name="username" type="text" required/>
            </div>

            <!---------- PASSWORD ---------->
            <div class="form-label-group">
                <label for="password">Password</label>
                <input class="form-control" id="password" name="password" type="password" required/>
            </div>

            <div class="form-btn-group">
                <!---------- NEED TO REGISTER LINK ---------->
                <a href="/register" class="register-link"><em>Dont have an account with us?</em></a>
                <!---------- SUBMIT FORM ---------->
                <button class="btn btn-sm index-btn" type="submit">Sign in</button>
            </div>


        </form>

    </section>
</article>


<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script th:replace="partials/scripts :: scripts"></script>

</body>
</html>