<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Progeny - Profile')">

</head>
<body sec:authorize="isAuthenticated()">

<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>

<!---------- Main Container ---------->
<article class="main-container">

    <section class="section-container">

        <h1 class="section-header text-center"> Welcome back, <span th:text="${currentUser.getFirstName()}"></span></h1>

    </section>

    <section class="section-container d-flex flex-row" id="profile-section">
        <!---------- USER ACCOUNT DETAILS ---------->
        <section class="sub-section-container profile-details-container col-lg-4 col-md-12 d-flex flex-column">

            <!---------- USER PROFILE IMAGE ---------->
            <div class="profile-image-container">
                <img th:src=" @{ ${currentUser.getProfileImageUrl()}}" alt="The current user's profile image">
            </div>

            <!---------- EDIT PROFILE LINK ---------->
            <a href="/profile/edit/{id}" class="text-right">Edit Profile</a>

            <!---------- USER NAME ---------->
            <h3 class="text-left"><span
                    th:text="${currentUser.getFirstName()} + ' ' + ${currentUser.getLastName()}"></span></h3>

            <!---------- USER LOCATION ---------->
            <h5 class="text-left"><span th:text="${currentUser.getLocation()}"></span></h5>

            <!---------- USER BIO ---------->
            <p class="text-left"><span th:text="${currentUser.bio}"></span></p>


            <div class="friends-container my-5">

                <!---------- FRIENDS HEADER ---------->
                <h4 class="section-subheader">Your Friends</h4>

                <!---------- EDIT FRIENDS---------->
                <a href="profile/friends/edit">Edit your friends</a>

                <!---------- SHOW FRIENDS ---------->
                <div th:each="friend : ${friends}" class="friend-card my-5 text-center pull-left">

                    <span th:text="${friend.getFirstName()} + ' ' +${friend.getLastName()}"
                          class="friend-name badge badge-pill badge-info"></span>

                </div>

            </div>

        </section>

        <!---------- RIGHT SECTIONS---------->
        <section class="sub-section-container col-lg-8 col-md-12 ">

            <!---------- RECORDINGS SSECTION---------->
            <div class="recording-sub-section">

                <!---------- EDIT RECORDINGS ---------->
                <a class="text-right" href="#">Edit Recordings</a>

                <!---------- SHOW RECORDINGS ---------->
                <div th:each="recording : ${recordings}" class="recording-card">

                    <a th:href="@{|/recording/${recording.getId()}|}" class="recording-title-link">
                        <h1 th:text="${recording.title}" class="recording-title"></h1>
                    </a>


                </div>
            </div>

            <!---------- GROUPS SECTION ---------->
            <div class="groups-sub-section">

                <!---------- EDIT RECORDINGS ---------->
                <a class="text-right" href="#">Edit Groups</a>
                <a class="text-right" href="/group/create">Add Group</a>

                <!---------- SHOW RECORDINGS ---------->
                <div th:each="group : ${groups}" class="group-card">

                    <a th:href="@{|/group/${group.getId()}|}" class="group-title-link">
                        <h1 th:text="${group.name}" class="group-title"></h1>
                    </a>
                    <p th:text="${group.description} " class="group"></p>

                </div>
            </div>

        </section>

    </section>
</article>


<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script th:replace="partials/scripts :: scripts"></script>

</body>
</html>