<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Progeny - Profile')">

</head>
<body sec:authorize="isAuthenticated()" >

<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>

<!---------- Main Container ---------->
<article class="main-container">

    <!---------- CREATE ACCOUNT SECTION ---------->
    <section class="section-container">

        <h2> Welcome back, <span th:text="${currentUser.getFirstName()}"></span></h2>

    </section>

</article>


<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script th:replace="partials/scripts :: scripts"></script>

</body>
</html>