<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Progeny - Profile')">

</head>
<body sec:authorize="isAuthenticated()">

<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>

<!---------- MAIN CONTAINER ---------->
<article class="main-container" id="profile-article">


    <!---------- PROFILE NAVIGATION ---------->
    <nav class="my-5" id="profile-nav">

        <!---------- PROFILE NAVIGATION LIST ---------->
        <ul class="nav nav-pills d-flex flex-row justify-content-center">

            <!---------- PROFILE NAVIGATION LIST ITEMS ---------->
            <li class="active mx-5 my-3 nav-item profile-nav-item"><a href="/profile">Profile</a></li>
            <li class="mx-5 my-3 nav-item profile-nav-item"><a href="/profile/friends">Friends</a></li>
            <li class="mx-5 my-3 nav-item profile-nav-item"><a href="/profile/edit/{id}">Settings</a></li>

        </ul>

    </nav>

    <!---------- USER ACCOUNT DETAILS ---------->
    <section class="section-container profile-details-container row p-5 my-3 d-flex flex-row justify-content-between">

        <!---------- USER PROFILE IMAGE CONTAINER ---------->
        <div class="col-12 col-md-2">

            <!---------- USER PROFILE IMAGE ---------->
            <div class="profile-image-container">
                <img th:src=" @{ ${currentUser.getProfileImageUrl()}}" alt="The current user's profile image"
                     class="rounded-circle mx-auto">
            </div>

        </div>

        <!---------- USER DETAILS ---------->
        <div class="col-12 col-md-8">
            <!---------- EDIT PROFILE LINK ---------->
            <a href="/profile/edit/{id}">Edit Profile</a>

            <!---------- USER FULL NAME ---------->
            <p class="text-left full-name-title section-subheader text-wrap m-0"><span
                    th:text="${currentUser.getFirstName()} + ' ' + ${currentUser.getLastName()}"></span></p>

            <!---------- USERNAME ---------->
            <p class="text-left m-0 user-bio "><span th:text="${currentUser.getUsername()}"></span></p>

            <!---------- USER LOCATION ---------->
            <p class="text-left user-location m-0">
                <span th:text="${currentUser.getLocation()}"></span></p>

            <!---------- USER BIO ---------->
            <p class="text-left user-bio pt-4"><span th:text="${currentUser.bio}"></span></p>

        </div>

        <!---------- STATS CONTAINER ---------->
        <div class="col-12 col-md-2 d-flex flex-column justify-content-center">

            <!---------- FRIENDS COUNT ---------->
            <span class="mb-3 p-3 profile-badge text-center"><strong th:text="${friends.size()}"></strong> friends</span>

            <!---------- RECORDINGS COUNT ---------->
            <span class="mb-3 p-3 profile-badge text-center"><strong th:text="${recordings.size()}"></strong> recordings</span>

        </div>

    </section>

    <!---------- USER CONTENT ---------->
    <section class="section-container d-flex flex-row flex-grow-1 mt-2">

        <!---------- USER'S RECORDINGS SECTION---------->
        <div class="recording-sub-section d-flex flex-column flex-grow-1 mr-2 p-5">

            <h2 class="text-center">Your Recordings</h2>

            <!---------- CREATE RECORDINGS CARD---------->
            <a class="recording-card-add my-3" href="/stories">

                <div class="d-flex flex-column justify-content-center mx-auto p-3">

                    <svg width="35" height="35" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                         clip-rule="evenodd" class="add-recording-graphic mx-auto">
                        <path class="mx-auto"
                              d="M11.5 0c6.347 0 11.5 5.153 11.5 11.5s-5.153 11.5-11.5 11.5-11.5-5.153-11.5-11.5 5.153-11.5 11.5-11.5zm0 1c5.795 0 10.5 4.705 10.5 10.5s-4.705 10.5-10.5 10.5-10.5-4.705-10.5-10.5 4.705-10.5 10.5-10.5zm.5 10h6v1h-6v6h-1v-6h-6v-1h6v-6h1v6z"/>
                    </svg>

                    <p class="add-recording-title blue-link text-center mb-0">Add Recording</p>

                </div>

            </a>


            <!---------- RECORDING CARD ---------->
            <div th:each="recording : ${recordings}" class="recording-card my-5 p-3 d-flex flex-column justify-content-center">

                <!---------- RECORDING TITLE---------->
                <a class="blue-link" th:href="@{|/recording/show/${recording.getId()}|}">
                    <h3 th:text="${recording.title}" class="recording-title text-center"></h3>
                </a>

                <!---------- RECORDING CREATOR---------->
                <p class="story-author text-center">Created by
                    <a class="story-author" href="/profile/friends"><em
                            th:text="${recording.getUser().username}"></em></a>
                </p>

                <!---------- RECORDING CONTROLER ---------->
                <audio controls class="mx-auto">
                    <source th:src="${recording.recordingUrl}"
                            type='audio/mp4'>

                    <!-- The next two lines are only executed if the browser doesn't support MP4 files -->
                    <source th:src="${recording.recordingUrl}"
                            type='audio/ogg; codecs=vorbis'>

                    <!-- The next line will only be executed if the browser doesn't support the <audio> tag-->
                    <p>Your browser does not support the HTML5 Audio element.</p>

                </audio>

            </div>

        </div>

        <!---------- FRIEND'S RECORDING(s )---------->
        <div class="friend-recording-sub-section d-flex flex-column flex-grow-1 ml-2 p-5">

            <h2 class="text-center">Friend's Recordings</h2>

            <!---------- FRIEND'S RECORDING(s ) CARDS---------->
            <div th:each="friend : ${friends}" th:if="${friend.isAccepted()}">

                <!---------- RECORDING CARD ---------->
                <div th:each="recording : ${friend.getFriend().getRecordings()}"
                     class="recording-card my-5 p-3 d-flex flex-column justify-content-center">

                    <!---------- RECORDING TITLE---------->
                    <h3 th:text="${recording.title}" class="recording-title text-center"></h3>

                    <!---------- RECORDING CREATOR---------->
                    <p class="story-author text-center">Created by <em th:text="${recording.getUser().username}"></em>
                    </p>

                    <!---------- RECORDING AUDIO CONTROLLER ---------->
                    <audio controls class="mx-auto">
                        <source th:src="${recording.recordingUrl}"
                                type='audio/mp4'>

                        <!-- The next two lines are only executed if the browser doesn't support MP4 files -->
                        <source th:src="${recording.recordingUrl}" type='audio/ogg; codecs=vorbis'>

                        <!-- The next line will only be executed if the browser doesn't support the <audio> tag-->
                        <p>Your browser does not support the HTML5 Audio element.</p>

                    </audio>

                </div>

            </div>

        </div>

    </section>

</article>


<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script th:replace="partials/scripts :: scripts"></script>

</body>
</html>