<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Progeny - Friends List')">

</head>
<body>

<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>

<!---------- SECTION ---------->
<article class="main-container">

    <!---------- SECTION ---------->
    <section class="section-container">

            <!---------- SHOW FRIENDS ---------->
            <div th:each="friend : ${friends}" class="friend-card">

                <a th:href="@{|/friend/${friend.getId()}|}" class="friend-name-link">
                    <p th:text="${friend.getFirstName() + ' ' +${friend.getFirstName()}}" class="friend-name"></p>
                </a>

            </div>

    </section>

</article>


<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script th:replace="partials/scripts :: scripts"></script>

</body>
</html>