<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Progeny - Friends List')">

</head>
<body>

<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>

<!---------- SECTION ---------->
<article class="main-container">

    <!---------- SECTION ---------->
    <section class="section-container">

        <!---------- SECTION HEADER---------->
        <h1 class="section-header"><span th:text="${currentUser.getFirstName()}"></span>, here are the people you are
            connected with</h1>

        <!---------- SHOW FRIENDS ---------->
        <div th:each="friend : ${friends}" class="friend-card my-5 text-center">

            <form th:action="@{/profile/friends/edit}" method="POST" th:object="${friend}" class="form-register">
                <button class="btn btn-dark">
                <span th:text="${friend.getFirstName()} + ' ' +${friend.getLastName()}" class="friend-name"></span>
                </button>
            </form>

        </div>
    </section>

    <!---------- SECTION ---------->
    <section class="section-container">

        <!---------- SEARCH BAR ---------->
        <div id="custom-search-input" class="input-group my-5 text-right">
            <input type="text" class="search-query form-control" placeholder="Search for someone on Progeny"/>
        </div>

        <!---------- SEARCH PROGENY USERS ---------->
        <div class="search-results my-5">

            <!---------- SHOW PROGENY USERS ---------->
            <div th:each="potentialFriend : ${users}" class="friend-card text-center d-flex flex-row justify-content-center">

                <!---------- ADD FRIEND FORM ---------->
                <form th:action="@{/profile/friends/edit}" method="POST" class="form-register">

                    <!---------- ADD FRIEND BUTTON(S) ---------->
                    <button class="btn btn-dark">
                        <span th:text="${potentialFriend.getFirstName()} + ' ' + ${potentialFriend.getLastName()}" class="friend-name"></span>
                    </button>
                    <input type="hidden" th:name="friendId" th:value="${potentialFriend.id}">
                </form>

            </div>
        </div>
    </section>

</article>


<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script th:replace="partials/scripts :: scripts"></script>

</body>
</html>