<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Progeny - About')">

</head>
<body>


<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>


<!---------- MAIN CONTAINER ---------->
<article class="main-container">

    <!---------- SECTION ---------->
    <section class="section-container">

        <!---------- SECTION HEADER ---------->
        <h1 class="section-header">Meet Our Team</h1>

        <!---------- TEAM CARDS ---------->
        <div class="row d-flex justify-content-between team-section-cards">

            <!---------- MITCHEL CARD ---------->
            <div class="card align-items-center">
                <img src="images/compressed_portrait_mitchel.jpg" alt="A professional portrait of Mitchel Sandidge"
                     class="card-img-top">
                <h2 class="card-title">Mitchel Sandidge</h2>
                <h4 class="card-subtitle"><em>Web Developer</em></h4>
                <p class="card-body">
                    This is the team member's brief bio. A glimpse into their personality.
                </p>
            </div>

            <!---------- TARYN CARD ---------->
            <div class="card align-items-center">
                <img src="images/compressed_portrait_taryn.jpg" alt="A professional portrait of Taryn McKenzie"
                     class="card-img-top">
                <h2 class="card-title">Taryn McKenzie</h2>
                <h4 class="card-subtitle"><em>Web Developer</em></h4>
                <p class="card-body">
                    This is the team member's brief bio. A glimpse into their personality.
                </p>
            </div>

            <!---------- JOHNNY CARD ---------->
            <div class="card align-items-center">
                <img src="images/compressed_portrait_johnny.jpg" alt="A professional portrait of Johnny Delgado"
                     class="card-img-top">
                <h2 class="card-title">Johnny Delgado</h2>
                <h4 class="card-subtitle"><em>Web Developer</em></h4>
                <p class="card-body">
                    This is the team member's brief bio. A glimpse into their personality.
                </p>

            </div>

        </div>

    </section>

</article>

<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script th:replace="partials/scripts :: scripts"></script>

</body>
</html>