<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Progeny - Features')">
</head>
<body>

<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>


<!---------- MAIN CONTAINER ---------->
<article class="main-container">

    <!---------- SECTION ---------->
    <section class="section-container jumbotron jumbotron-fluid">

        <div class="container">

            <!---------- SECTION HEADER ---------->
            <h1 class="display-4 section-header text-left">Free Storytime Audio Recording</h1>

            <!---------- FEATURE LIST ---------->
            <ul class="lead text-left">
                <li>Free to read children's storybooks</li>
                <li>Record yourself reading a story</li>
                <li>Save your audio recordings to your Progeny profile</li>
                <li>Download your audio recordings locally</li>
            </ul>
            <a class="text-left" href="/stories">Start Recording Your Storytime</a>
        </div>

    </section>

    <section class="section-container">
        <!---------- SECTION HEADER ---------->
        <h2 class="section-header">Our Mission</h2>

        <div class="mission-cards container d-flex flex-row justify-content-between">
            <!---------- MISSION CARDS (PURPOSE) ---------->

            <!---------- CONNECT ---------->
            <div class="card">
                <h3 class="card-title">Connect Distanced Families</h3>
                <p class="card-text">
                    I'm baby retro poke health goth, air plant edison bulb kombucha helvetica leggings ethical
                    gluten-free taxidermy activated charcoal fam viral blog.
                </p>
            </div>

            <!---------- ENCOURAGE ---------->
            <div class="card">
                <h3 class="card-title">Encourage Reading</h3>
                <p class="card-text">
                    I'm baby retro poke health goth, air plant edison bulb kombucha helvetica leggings ethical
                    gluten-free taxidermy activated charcoal fam viral blog.
                </p>
            </div>

            <!----------  ---------->
            <div class="card">
                <h3 class="card-title">Sample Card Title</h3>
                <p class="card-text">
                    I'm baby retro poke health goth, air plant edison bulb kombucha helvetica leggings ethical
                    gluten-free taxidermy activated charcoal fam viral blog.
                </p>
            </div>

        </div>
    </section>

</article>

<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script th:replace="partials/scripts :: scripts"></script>

</body>
</html>