<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="partials/head :: head('Progeny - Features')">-->
<!--</head>-->
<!--<body>-->

<!--&lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; TOP NAVIGATION BAR &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--<nav th:replace="partials/topnav :: navbar"></nav>-->


<!--&lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; MAIN CONTAINER &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--<article class="main-container">-->

<!--    &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; SECTION &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--    <section class="section-container">-->

<!--        <div id="content">-->

<!--        </div>-->

<!--        <button id="open">Open Picker</button>-->
<!--        <button id="close">Close Picker</button>-->
<!--        <div id="inline" style="width:600px;height:500px;padding:20px;"></div>-->

<!--    </section>-->

<!--</article>-->

<!--&lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; FOOTER &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--<nav th:replace="partials/footer :: footer"></nav>-->

<!--&lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; SCRIPTS &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>-->
<!--<script th:replace="partials/scripts :: scripts"></script>-->

<!--</body>-->
<!--</html>-->