<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Progeny - Features')">
</head>
<body>

<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>


<!---------- MAIN CONTAINER ---------->
<article class="main-container">

    <!---------- SECTION ---------->
    <section class="section-container">

        <div id="content">

        </div>

        <button id="open">Open Picker</button>
        <button id="close">Close Picker</button>
        <div id="inline" style="width:600px;height:500px;padding:20px;"></div>

    </section>

</article>

<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script th:replace="partials/scripts :: scripts"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>

</body>
</html>