<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Progeny')">

</head>
<body>

<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>

<!---------- MAIN CONTAINER ---------->
<article class="main-container">

    <!---------- SECTION ---------->
    <section class="section-container jumbotron jumbotron-fluid">

        <div class="container">

            <h1 class="display-4 section-header text-left">Stay Connected Through Storytime</h1>

            <p class="lead text-left">
                Give distanced members of a family the opportunity to interact with child via story-time recordings/live
                readings accessed on Progeny.
            </p>

            <a class="text-left learn-link" href="#"><em>Learn More</em></a>
        </div>
    </section>
</article>



<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script th:replace="partials/scripts :: scripts"></script>

</body>
</html>