<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Stories')">

</head>
<body>

<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>

<!---------- MAIN CONTAINER ---------->
<article class="main-container mb-5">

    <!---------- SECTION ---------->
    <section class="jumbotron-fluid d-flex flex-row justify-content-around mt-5 py-5" id="story-jumbotron">


        <!---------- JUMBOTRON CONTAINER ---------->
        <div class="container story-container">

            <!---------- JUMBOTRON HEADER ---------->
            <h1 class="display-4 section-header text-center">Progeny Library</h1>

        </div>

    </section>


    <!---------- STORIES SECTION ---------->
    <section class="section-container mb-5 mt-1 row">

        <!---------- SHOW STORIES ---------->
        <div th:each="story : ${stories}" class="story-card mb-5 col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 pb-5">

            <!---------- BOOK COVER CONTAINER---------->
            <a th:href="@{|/story/${story.getId()}|}" class="story-title-link">

                <!---------- BOOK CONTIANER ---------->
                <div class="story-image-container">

                    <!---------- BOOK IMAGE ---------->
                    <img th:src="@{ ${story.coverImageUrl}}" alt="This is the cover image for the story"
                         class="mx-auto">

                    <!---------- BOOK TITLE ---------->
                    <h1 th:text="${story.title}" class="story-title pl-5"></h1>

                    <!---------- BOOK AUTHOR ---------->
                    <p class="story-author pl-5">By <em
                            th:text="${story.authorFirstName} + ' ' + ${story.authorLastName}"
                            class="story-author "></em></p>
                </div>

            </a>

        </div>

    </section>

</article>


<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script th:replace="partials/scripts :: scripts"></script>

</body>
</html>