<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Stories')">

</head>
<body>

<!---------- TOP NAVIGATION BAR ---------->
<nav th:replace="partials/topnav :: navbar"></nav>

<!---------- MAIN CONTAINER ---------->
<article class="main-container">

    <!---------- SECTION ---------->
    <section class="section-container">

        <!---------- STORIES SECTION ---------->
        <div class="stories-sub-section">

            <h1 class="section-header">Available Stories</h1>

            <!---------- SHOW STORIES ---------->
            <div th:each="story : ${stories}" class="story-card">

                <!---------- STORIES CARDS ---------->
                <a th:href="@{|/story/${story.getId()}|}" class="story-title-link">
                    <div class="img-thumbnail">
                        <img th:src="@{ ${story.coverImageUrl}}" alt="This is the cover image for the story" class="story-img-thumbnail">
                    </div>
                    <h1 th:text="${story.title}" class="story-title"></h1>
                </a>

            </div>

        </div>

        <!---------- EMAIL SUGGESTIONS LINK ---------->
        <a href="#">Don't see a story you like? Email us your suggestion.</a>
    </section>

</article>


<!---------- FOOTER ---------->
<nav th:replace="partials/footer :: footer"></nav>

<!---------- SCRIPTS ---------->
<script th:replace="partials/scripts :: scripts"></script>

</body>
</html>